{% extends "Navbar.html" %}

{% block content %}
<header>
    <a href="League">
        <img src="images/league-of-legends.jpg"  style="width:33.3%;height:auto;float:right;" alt="leaguePic" />
    </a>
    <a href="Dota">
        <img src="images/Dota-2-img.jpg" style="width:33.3%;height:auto;float:right;" alt="dotaPic" />
    </a>
    <a href="csGo">
    <img src="images/csGoImage.jpg" style="width:33.4%;height:auto;float:right;" alt="csGoPic"  />
    </a>
    <h1>
        Welcome To Our Esports Statistics Page!
    </h1>
</header>

<p>Below is:</p>
<ul>
    <li>Esports Description</li>
    <li>Stats of teams/players</li>
    <li>Dates of upcoming events/tournaments</li>
</ul>

<div class="eSports">
    <h2>What is Esports?</h2>
    <p>Esports is a global gaming league made up of semi-pro and pro teams that compete in tournaments for prizes</p>
</div>


{% endblock %}