<html>
<head>

</head>

<body>
    <header>
        <h1>
            Welcome To Our Esports Statistics Page!
        </h1>
    </header>

    <p>Below is:</p>
    <ul>
        <li>Esports Description</li>
        <li>Stats of teams/players</li>
        <li>Dates of upcoming events/tournaments</li>
    </ul>

    <div id="eSports">
        <h2>What is Esports?</h2>
        <p>Esports is a global gaming league made up of semi-pro and pro teams that compete in tournaments for prizes</p>
    </div>
    

</body>

</html>