{% extends "Navbar.html" %}

{% block content %}
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Caveat|Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/movies.css">
</head>
<body>
    <header>
        <h1>
            Welcome To Our movie Page!
        </h1>
    </header>

    <p>Below is:</p>
    <ul>
        <li><a href="{{ url_for('moviesResults') }}">SearchResults</a></li>
        <li><a href="/Review/">Review</a> </li>
    </ul>

    <div id="movies">
        <h2>What is Movies?</h2>
        <p>
            motion picture or moving picture, is a visual art-form used to simulate experiences that communicate ideas,
            stories, perceptions, feelings, beauty, or atmosphere through the use of moving images.
            These images are generally accompanied by sound, and more rarely, other sensory stimulations.
        </p>
    </div>
</body>
</html>

        {% endblock %}
