{% extends "Navbar.html" %}

{% block head %}
<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
<link rel="stylesheet" media="screen" href="/static/content/movies.css">
{% endblock %}

    {% block content %}
<html>


<body>
    <header>
        <h1>
            Welcome To Our movie Page!
        </h1>
    </header>

    <div>
        Search: <input type="search" id="mySearch" name="filter">
        <button onclick="searchMovies()">Search</button>
    </div>

    <p id="demo"></p>

    <h1>Upcoming Movies</h1>

    <!-- Flickity HTML init -->
    <div class="carousel js-flickity"
         data-flickity-options='{ "wrapAround": true }'>
        {%for result in upcomingMovies%}
        <div class="gallery-cell">
            <img src="{{result['Poster']}}" />
            <div class="carosel-description">
                <h2>{{result['Title']}}</h2>
            </div>
            <br />
        </div>
        {%endfor%}
    </div>
    <br />

    <h1>Trending Movies</h1>

    <!-- Flickity HTML init -->
    <div class="carousel js-flickity"
         data-flickity-options='{ "wrapAround": true }'>
        {%for result in trendingMovies%}
        <div class="gallery-cell">
            <img src="{{result['Poster']}}" />
            <div class="carosel-description">
                <h2>{{result['Title']}}</h2>
            </div>
            <br />
        </div>
        {%endfor%}
    </div>


</body>


</html>

{% endblock %}

{% block scripts %}
<script>
    function searchMovies() {
        var q = document.getElementById("mySearch").value.trim();
        window.alert(q)
        if (q == "") {
            window.alert("You need to type something into the searchbox.");
        } else {
            //urll = "{{url_for('moviesResults',query = q)}}";
            urll = "/moviesResults/" + q;
            window.location.href = urll;
        }
    }
</script>
{% endblock %}