{% extends "Navbar.html" %}

{% block content %}
<header>
    <h1>
        Welcome to our sports main page!
    </h1>

    <h2>
        The sports we cover are Football, Basketball, and Baseball.
    </h2>
    <h2>
        Basketball
    </h2>
    <p>{{basketBallDesc}}</p>
    <h2>Baseball</h2>
    <p>{{baseBallDesc}}</p>
    <h2>Football</h2>
    <p>{{footBallDesc}}</p>
</header>

<div class="Info">
    <h2>Event Info</h2>

    <p>Click the sport below you would like to learn more about.</p>

    <ul>
        <li><a href="{{url_for('leagues', sportName = 'American%20Football')}}">Football</a></li>
        <li><a href="{{url_for('leagues', sportName = 'Baseball')}}">Baseball</a></li>
        <li><a href="{{url_for('leagues', sportName = 'Basketball')}}">Basketball</a></li>
    </ul>
</div>

<div class="stats">
    <h2>
        Statistics
    </h2>
    <form>
        <label for="search">Select search preference</label><br />
        <select id="search" name="filters">
            <option value="1">Teams</option>
            <option value="2">Players</option>
        </select>
    </form>
</div>
{% endblock %}