{% extends "Navbar.html" %}

{% block content %}
<header>
    <h1>
        Welcome to our sports main page!
    </h1>

    <h2>
        The sports we cover are Football, Basketball, and Baseball.
    </h2>
    <h2>
        Basketball
    </h2>
    <p>{{basketBallDesc}}</p>
    <h2>Baseball</h2>
    <p>{{baseBallDesc}}</p>
    <h2>Football</h2>
    <p>{{footBallDesc}}</p>
</header>

<div class="Info">
    <h2>Tournaments/Info</h2>

    <p>Click the sport below you would like to learn more about.</p>

    <ul>
        <a><li href="url">Football</li></a>
        <a><li href="url">Baseball</li></a>
        <a><li href="url">Basketball</li></a>
</ul>
</div>

<div class="stats">
    <h2>
        Statistics
    </h2>
    <form>
        <label for="search">Select search preference</label><br />
        <select id="search" name="filters">
            <option value="1">Teams</option>
            <option value="2">Players</option>
        </select>
        <button id="submit" onclick="apiLoad()">Submit</button>
        <div class="loader" style="display:none"></div>
    </form>
</div>
{% endblock %}