{% extends "Navbar.html" %}

{% block content %}
<header>
    <h1>
        Welcome to our sports main page!
    </h1>
</header>

<p>
    Below is:
</p>
<ul>
    <li>Sports we cover</li>
    <li>Team/Player statistics</li>
    <li>Full schedules of each sport</li>
</ul>

<div id="ourSports">
    <h2>
        Sports we cover
    </h2>
    <p>
        The sports we cover are Football, Basketball, and Baseball. We have statistics for all players and teams currently playing.
        Schedules are also available for each sport on this site.
    </p>
</div>
{% endblock %}